.home-banner {
  width: 100%;
}

.search-active + .home-banner {
  margin-top: 32px;
}

.home-banner__link {
  display: block;
  background: url('images/air-quality-banner.jpg') left center no-repeat;
  background-size: cover;
  height: 220px;
  // &:hover, &:focus, &:active {
  //   .home-banner__content {
  //     background: $green;
  //   }

  //   .home-banner__content--secondary {
  //     background: $dark-green;
  //   }
  // }

  .no-flexbox & {
    @extend %clearfix;
  }
}

.home-banner__content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  background: $dark-green;
  // box-sizing: border-box;
  // background: $dark-green;
  color: white;
  padding: 8px;
  // transition: all ease 0.3s;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  h2 {
    margin: 0;
  }

  p {
    font-family: $heading-font;
    line-height: 1.2;
    padding: 0;
  }
}

.home-banner--full-image {
  background: $dark-green;
  // background: $green url('images/join-banner.jpg') center no-repeat;
  // background-size: cover;
}

.home-banner .home-banner__content--primary {
  text-align: center;

  .home-banner__heading {
    width: 100%;
  }
}

.home-banner .home-banner__content--secondary {
  background: $green;
  text-align: center;

  .home-banner__heading {
    line-height: 1.2;
  }
}

.home-banner__heading {
  font-family: 'bebas-neue', helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  padding: 0;
  max-width: 100%;

  strong {
    margin-top: 10px;
    font-size: 40px;
    font-weight: normal;
    display: block;
    line-height: 1;
  }

  &.home-banner__heading--long-text {
    font-family: $body-font;
    text-transform: none;

  }
}

@include media-query(xs) {

  .home-banner {
    margin-top: 70px;
    position: relative;
  }

  .search-active + .home-banner {
    margin-top: 64px;
  }

  .home-banner__image {
    background: $green;
    // background: url('images/join-banner.jpg') center no-repeat;
    // background-size: cover;
    height: 300px;

    .no-backgroundsize & {
      display: none;
    }

  }

  .home-banner__link {
    display: flex;
    justify-content: flex-end;
  }

  .home-banner__logo {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    z-index: 998;

  }

  .home-banner__content {
    padding: 32px 16px;
    position: relative;
    top: auto;
    right: auto;
    text-align: right;

    h2 {
      @include font-size($medium-font-size);
    }
  }

}

@include media-query(sm) {

  .home-banner {
    height: 300px;
  }

  .home-banner__link {
    height: 100%;

    .no-flexbox & {
      display: block;
    }
  }

  .home-banner__image {
    width: 55%;
    height: 100%;

    .no-flexbox & {
      float: left;
    }
  }

  // .home-banner__content {
  //   width: 45%;
  //   padding: 40px;
  //   height: 100%;

  //   .no-flexbox & {
  //     float: left;
  //   }

  //   .no-backgroundsize & {
  //     padding: 60px;
  //     width: 100%;
  //   }

  //   .home-banner--full-image & {
  //     position: absolute;
  //     width: 1px;
  //     height: 1px;
  //     margin: -1px;
  //     padding: 0;
  //     overflow: hidden;
  //     clip: rect(0, 0, 0, 0);
  //     border: 0;
  //   }
  // }

  .home-banner__heading {
    font-size: 24px;

    strong {
      font-size: 48px;
    }
  }

  .home-banner .home-banner__content--primary {
    width: 50%;

    .home-banner__heading {
      width: 100%;
      font-size: 64px;

      span:first-child {
        font-size: 56px;
      }

      span:last-child {
        font-size: 128px;
        line-height: 116px;
      }
    }

    span {
      display: block;
    }
  }

  .home-banner .home-banner__content--secondary {
    width: 50%;

    .home-banner__heading {
      font-size: 42px;
    }
  }

  .home-banner__content {
    position: relative;
    // width: 335px;
    top: auto;
    right: auto;
    background: none;
    padding: 64px 32px;
    text-align: right;

    h2 {
      @include font-size($large-font-size);
    }

    p {
      @include font-size($medium-font-size);
    }
  }

}

@include media-query(md) {

  .home-banner .home-banner__content--primary {
    width: 30%;

    .home-banner__heading {
      font-size: 64px;
    }
  }

  .home-banner .home-banner__content--secondary {
    width: 70%;

    .home-banner__heading {
      font-size: 64px;
    }
  }

  .home-banner__content {
    width: auto;

    h2 {
      @include font-size(56);
    }

    p {
      @include font-size($large-font-size);
    }
  }

}

@include media-query(lg) {

  .home-banner__content {
    padding: 64px 32px;
    text-align: right;

    h2 {
      @include font-size(80);
    }
  }

}
