.home-banner {
  position: relative;
  width: 100%;
}

.home-banner__link {

  &:hover, &:focus, &:active {
    .home-banner__content {
      background: $gp-green;
    }
  }

  .no-flexbox & {
    @extend %clearfix;
  }
}

.home-banner__content {
  box-sizing: border-box;  
  background: $gp-dark-green;
  color: white;
  padding: 20px;
  transition: all ease 0.3s;
  display: flex;
  align-items: center;
}

.home-banner__heading {
  font-family: 'bebas-neue', helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
  max-width: 100%;

  strong {
    font-size: 50px;
    font-weight: normal;
    display: block;
  }
}

@include media-query(xs) {

  .home-banner {
    margin-top: 70px;
  }

  .home-banner__image {
    background: url('images/election-launch.jpg') top center no-repeat;
    background-size: cover;
    height: 300px;

    .no-backgroundsize & {
      display: none;
    }
    
  }

}

@include media-query(sm) {

  .home-banner {
    height: 300px;
  }

  .home-banner__link {
    display: flex;
    height: 100%;

    .no-flexbox & {
      display: block;
    }
  }

  .home-banner__image {
    width: 60%;
    height: 100%;

    .no-flexbox & {
      float: left;
    }
  }

  .home-banner__content {
    width: 40%;
    padding: 40px;
    height: 100%;

    .no-flexbox & {
      float: left;
    }

    .no-backgroundsize & {
      padding: 60px;
      width: 100%;
    }
  }

  .home-banner__heading {
    font-size: 24px;

    strong {
      font-size: 50px;
    }
  }

}

@include media-query(md) {

  .home-banner__heading {
    font-size: 30px;

    strong {
      font-size: 60px;
    }
  }

}
