#donations {
  background: $dark-green;
  color: #FFFFFF;
  
  padding: 50px;
  position: relative;
  box-sizing: border-box;

  .page-grid__item & {
    padding: 20px;

    p.submit {
      padding: 0;
    }

  }
}

.page-grid__item {
  #donations + p, #donorwall + p  {
    padding: 0;
  }
}

#donations h2 {
  // font-family: 'Roboto';
  font-size: 40px;
  margin: 0 0 20px;
}
#donateplusform {
  font-family: $body-font;
}
#donateplusform input {
  background: #FFFFFF !important;
  border: medium none !important;
  color: $dark-green !important;
  font-size: 100%;
  font-weight: normal;
  margin: 10px 0 !important;
  outline: medium none !important;
  padding-left: 15px !important;
}

#donations .submit input {
  background: rgba(0, 0, 0, 0) !important;
  border: medium none !important;
  height: auto !important;
  padding: 0 !important;
  width: auto !important;
}
.donation_info {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 30px;
  
  box-sizing: border-box;
  
}
