.featured-section {
  padding: 25px 10px;
}

.featured-list {
  width: 100%;
}

.featured-list-item {
  background: $gp-green;
  overflow: auto;
  margin-bottom: 10px;
  position: relative; 
}

.featured-list-image {
  background: #FFF;
  width: 40%;
  float: left;
  line-height: 0;
}

.featured-list-content {
  display: block;
  width: 60%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  color: #FFF;

  h2 {
    margin: 0;
    font-size: 16px;
    word-break: break-word;
  }

  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: #FFF;
  }
}

.featured-list-edit-link {
  position: absolute;
  right: 4px;
  bottom: 0;

  a {
    color: #FFF;
    font-size: 12px;

    &:hover, &:focus, &:active {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

.featured-sidebar-articles {
  width: 100%;
}

.featured-menu {
  overflow: auto;
}

.featured-menu-item {
  box-sizing: border-box;
  font-size: 14px;
  padding: 8px;
  text-align: center;
  float: left;
  width: percentage(1/3);
  min-height: 56px;

  a {
    color: #FFF;

    &:hover, &:focus, &:active, &.selected {
      text-decoration: underline;
    }
  }

  &.featured {
    background: #950000; 
  }

  &.video {
    background: #04958C; 
  }

  &.most-popular {
    background: #FF6600; 
  }

  &.donate {
    background: #003B65; 
  }

  &.home-info {
    background: $gp-green; 
  }

  &.search-info {
    background: #B20039; 
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  object, iframe, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-menu {
  background: #333;
  box-sizing: border-box;
  padding: 15px;
  color: #FFF;  
}

.video-menu-list {
  font-size: 12px;

  li {
    margin-bottom: 10px;
  }

  a {
    color: #FFF;
  }
}

.featured-sidebar {
  iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
  }
}

.featured-section {
  .search-field {
    font-size: 16px;
    padding: 8px;
  }
}


@include media-query(sm) {

  .featured-menu-item {
    width: percentage(1/6);
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    padding: 15px 10px;
    float: none;
    min-height: 0;
  }

  .featured-list  {
    float: left;
    position: relative;
    width: 54%;
  }

  .featured-list-image {
    width: 50%;
  }

  .featured-list-content {
    width: 50%;
    h2 {
      font-size: 18px;
    }
  }

  .featured-sidebar-articles {
    float: left;
    max-width: 46%; 
    padding-left: 20px;
    box-sizing: border-box;
  }

  .video-content, .featured-main {
    width: 70%;
    float: left;
  }

  .featured-main {
    min-height: 500px;
  }

  .video-menu, .featured-sidebar {
    width: 28%;
    float: left;
    margin-left: 2%;
  }

  .featured-main-wide, .featured-sidebar-wide {
    width: 50%;
    float: left;
  }
}