.banner {
	background: $green;
	width: 100%;
  padding-bottom: 5px;
  @extend %clearfix;

	.search-active & {
		margin-top: 32px;
	}
}

#green-logo {
	background: url('images/logo-white.png') no-repeat 0px -5px;
	width: 100%;
	height: 130px;
	position: relative;
}
#logo-link {
	height: 200px;
	text-indent: -900em;
	width: 100%;
	position: absolute;
}

.site-title {
	line-height: 0; 
  background: $green;
  padding: 10px 10px 12px 10px;
  box-sizing: border-box;
}

.description {
  color: #FFFFFF;
  font-size: 13px;
  padding: 5px; 
  margin: 0;
}

@include media-query(xs) {

  .banner {
    .search-active & {
      margin-top: 0;
    }
  }

}

@include media-query(sm) {

	.banner {
		height: 200px;
		margin: 10px 0 0 0;
    padding-bottom: 0;
		position: relative;
	}

	.site-title {
    width: 400px; 
    margin: 15px;
  }

	.description {
		background: $green;
		margin: 15px;
		position: absolute;
		bottom: 0;
		float: left;
    font-size: 16px;
	}

}
