#featuredCategoriesTabs {
	margin: 15px 15px 0 15px;
	overflow: auto;
}
#featuredCategoriesTabs a {
	color: #333333;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#featuredCategoriesTabs li {
	display:inline;
	float:left;
	font-size:11px;
	margin-right:1px;
	text-transform:uppercase;
}
#featuredCategoriesTabs li a {
	padding:10px 10px 9px;
	display: block;
}
#featuredCategoriesTabs li.active a, #featuredCategoriesTabs li.active a:hover {
	background-color:#D52C2C;
	color:#FFFFFF;
	text-shadow:1px 1px 1px #B62424;
}
#featuredCategoriesTabs li a:hover {
	background-color:#DDDDDD;
}



.featured-categories {
	border: 10px solid #f1f1f1;
	color:#333333;
	font-size: 0.8em;
	overflow: auto;
	background-color:#FFF;
	padding:15px 14px;
	background-color:#FFF;
}

.featured-post {
	margin-bottom: 10px;

	.meta-nav {
		display: block;
	}

	.title {
		font-size: 30px;
	}
}

.featured-post-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:20px;
	margin: 2px 0;
}

.featured-categories-posts {
	margin-bottom: 10px;
}

.featured-categories-title {
	font-family: Arial, Helvetica, sans-serif;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
	text-transform:uppercase;
}

.featured-categories-posts .post .cover {
	float:left;
	margin-right:10px;
}

a.readmore, p.more a {
	background-color: #E62747;
	color: #FFFFFF;
	padding: 4px 10px;
	text-decoration: none;
}
a.readmore:hover, p.more a:hover {
	background-color: #C0213C;
	color: #ffffff;
	text-decoration: underline;
}

@include media-query(sm) {

	.featured-post {
		float: left;
		margin-right: 2%;
		width: 40%;
	}

	.featured-categories-posts {
		float: left;
		width: 58%;
	}

}

