.arclist_fl, .arclist_fr, #archivebox  {
	border-bottom: 3px solid #C0C0C0;
	margin: 20px 0;
	padding: 0 20px;
}
#archivebox {
	line-height:30px;
}

.arclist {
	li {
		border-bottom: 1px solid #E6E4DB;
		color: #C0C0C0;
		font-size: 14px;
		font-weight: normal;
	}

	a {
		color: #2F2419;
		display: block;
		font-weight: normal;
		line-height: 30px;
		padding: 0 0 0 5px;

		&:hover, &:focus, &:active {
			color: #66b800;
			display: block;
			font-weight: normal;
			text-decoration: none;
		}
	}
}

#archive {
	font-size: 0.8em;
}
#archive_post .meta-nav {
	margin: 10px 0;
}

#archives_banner {
	background-image: url("images/archives.png");
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 260px;
	height: 77px;

	a {
		display: block;	
	}
	
}