.archive-search {
	margin-top: 20px;

	p {
		padding-bottom: 4px;
	}

	input[type='search'] {
		font-size: 16px;
		font-weight: normal;
		padding: 10px 50px 10px 10px;
		width: 100%
	}

	.search-form {
		position: relative;

		.search-submit {
			display: block;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
