#post {

  table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 4px!important;
  }

  th {
    text-align: left;
  }

}
