h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  line-height: normal;
}
h1, h2 {
  font-family: $heading-font;
}

h1 {font-size: 20px; } 
h2 {
  font-size: 20px;
    margin: 10px 0 20px;} 
h3 { 
  font-size: 16px; 
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 15px 0;
} 
h4  {font-size: 14px;} 
h5  {font-size: 12px;} 
h6  {font-size: 10px;}
p {
  padding: 0 0 1.3em;
}

#post h3 {
  font-weight: bold;
}


.text-highlight {
  font-family: 'bebas-neue', helvetica, arial, sans-serif;
  display: inline-block;
  padding: 5px 10px;
  
  line-height: 1.1;
  background: white;
  color: $gp-green;
  text-transform: uppercase;
  transform: rotate(-5deg);
}

.text-highlight--dark {
  background: $gp-green;
  color: white;
}