#newsletter {
    color: #FFFFFF;
    float: left;
    padding: 20px;
    /*width: 325px;*/
}
#newsletter label {
}
#newsletter input.button, #newsletter input.bt_email {
    background: none repeat scroll 0 0 #c0392b;
    border: 1px solid #999999;
    border-radius: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto" !important;
    font-size: 14px;
    height: 30px;
    line-height: normal;
	margin: 10px 0;
    padding: 0;
    width: 120px !important;
}
#newsletter input.wpmltext, #newsletter input.field {
    background: none repeat scroll 0 0 #EEFFFF;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #E74C3C;
    font-family: 'Roboto';
    font-size: 16px;
    height: 30px;
    line-height: 35px;
    padding: 0 10px;
    width: 230px;
}
#managementtabs ul {
	margin: 0 !important;
}
#managementtabs ul li {
	list-style-type: none !important;
	padding: 0 !important;
}
.wpml fieldset, .wpmlfieldholder, .newsletters-fieldholder {
  clear:both;
  margin:10px 0;
}