.slider-container {
    background: none repeat scroll 0 0 $green;
    margin: 0 0 10px;  
}
.slider-container:hover {
    background: none repeat scroll 0 0 #73A533;
}

.featured-sidebar-articles ul {
    list-style-type: none;
    margin: 0;
}
.featured-sidebar-articles ul li {
	margin: 0 0 5px;
}

.feature .edit-link a {
    background: none repeat scroll 0 0 #EB435C;
    font-size: 12px;
    padding: 0 6px;
}
#recent-article .edit-link a {
    background: none repeat scroll 0 0 #EB435C;
	color: #ffffff;
    font-size: 12px;
    padding: 0 6px;
}

#featured .entry_summary h2{
    font-size: 18px;
    margin: 10px;
}
.entry_summary a {
    color: #FFFFFF;
    font-size: 20px;
}
.entry_summary a:hover {
	color: #ffffff;
	font-weight: normal;
	text-decoration: underline;
}