.view .mask {
  display: none;
}

@include media-query(sm) {

  .view-tenth img {
   transform: scaleY(1);
   transition: all 0.7s ease-in-out;
  }
  .view-tenth .mask {
   background-color: rgba(255, 231, 179, 0.3);
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
  }
  .view-tenth h2 {
   background: transparent;
   font-size: 16px;
   margin: 0 0 5px;
   transform: scale(0);
   color: #333;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
  }
  .view-tenth p {
   color: #333;
   font-size: 11px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   transform: scale(0);
   transition: all 0.5s linear;
  }
  .view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   transform: scale(0);
   transition: all 0.5s linear;
   line-height: 1;
  }
  .view-tenth:hover img {
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
  }
  .view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
  }
  .view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
  }
  .view {
    background: url("../images/bgimg.jpg") no-repeat scroll center center #FFFFFF;
    cursor: default;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .view .mask, .view .content {
    display: block;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
  }	
  .view a.info {
    background: #000;
    color: #FFF;
    display: inline-block;
    font-size: 10px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }			
  .view p {
    color: #000;
    font-family: Georgia,serif;
    font-size: 10px;
    font-style: italic;
    line-height: 15px;
    padding: 5px 0;
    position: relative;
  }
}