

input,select,textarea{
	border: #999999 1px solid;
	font-weight: bold;
	padding: 2px
}
select{
	padding: 0
}
li{
	list-style: none
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	font-family: georgia,times,'times new roman',serif;
	line-height: normal;
}
h1 {font-size: 20px; } 
h2 {
	font-family: "Segoe UI",Tahoma,Geneva,sans-serif;
	font-size: 20px;
    margin: 10px 0 20px;} 
h3 { 
/*	border-bottom: 2px solid #CCCC22; 
*/	
	font-family: "Segoe UI",Tahoma,Geneva,sans-serif;
	font-size: 16px; 
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 15px 0;
} 
h4  {font-size: 14px;} 
h5  {font-size: 12px;} 
h6  {font-size: 10px;}
p {
	padding: 0 0 1.3em;
}

td { 
	border: 1px solid #cccccc; 
	padding: 5px;
}

/*== ROUNDED BOXES ==*/

.roundedtop {
	-webkit-border-top-left-radius: 6px; 
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;	
}
.roundedbottom {
	-webkit-border-bottom-left-radius: 6px; 
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;	
}
.rounded {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
/*== HEADER LAYOUT ==*/



/* Menu */



/*== BANNER ==*/
/*
#banner{
	height: 200px;
	margin: 10px 0 0 0;
	position: relative;
	width: 100%;
}
#banner img {
	position: absolute;
}
#green-logo {
	background: url('images/logo-white.png') no-repeat 0px -5px;
	width: 100%;
	height: 130px;
	position: relative;
}
#logo-link {
	height: 200px;
	text-indent: -900em;
	width: 100%;
	position: absolute;
}
#banner .home-link {
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 230px;
    text-decoration: none;
    width: 100%;
}
.site-title {
	margin: 0;
}
.site-title img {
    margin: 15px;
}*/
/* Search Form */

/*#green-header .search-form {
    position: absolute;
    right: 20px;
    top: 15px;
}

#green-header .search-field {
    background-color: #FFFFFF;
    background-image: url("images/search-icon.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: medium none;
    cursor: pointer;
    height: 32px;
    margin: 2px 0;
    padding: 0 0 0 34px;
    position: relative;
    transition: width 400ms ease 0s, background 400ms ease 0s;
    width: 120px;
}

#green-header .search-field:focus {
	background-color: #fff;
	cursor: text;
	outline: 0;
	width: 230px;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.search-form .search-submit {
    display: none;
}*/

/* Site Description */

/*.description {
    background: none repeat scroll 0 0 #50b848;
    bottom: 0;
    color: #FFFFFF;
    float: left;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 15px;
    padding: 5px;
    position: absolute;
}*/

/* Content layout */

#archive {
	float: left;
	width: 660px;
	margin: 10px;
	font-size: 0.8em;
	overflow: hidden;
	display: inline;
}
#archive_post .meta-nav {
	margin: 10px 0;
}
#widecolumn {
	display: inline;
	float: left;
	margin: 10px;
	overflow: hidden;
	width: 950px;
}

.article span[style] {
    color: #000000 !important;
    font-family: "Segoe UI",Tahoma,Geneva,sans-serif !important;
    font-size: 14px !important;
}
.post_news, #archive_post {
	float: left;
	margin: 10px 0;
	width: 655px;
}
.newsentry {
	margin: 5px;
	overflow: hidden;
}
.newsentry .meta, #archive .meta {
	color: #3e5867;
	display: block;
	font-size: 11px;
	height: 19px;
	line-height: 19px;
	padding: 5px 0px;
	margin: 5px 0px 5px 0px;
	font-family:Verdana,Geneva,Tahoma,sans-serif;
}
.newsentry .meta-nav {
	display: none;
	float: left;
	margin: 10px 0;
	width: 100%;
}
.archive p {
	overflow: hidden;
}
.wp-pagenavi {
	clear: both;
	height: 40px;
}
.wp-pagenavi a {
	color: #FF0000;
}
.wp-pagenavi a, .wp-pagenavi span {
	border: none !important;
	font-size: 18px;
	font-weight: bold;
	margin: 2px;
	padding: 3px 5px;
	text-decoration: none;
}
/* 3.1 Typographic Elements */

#post blockquote  { 
	background: url(images/blockquote.png) no-repeat 0 12px; 
	padding: 10px 20px 10px 50px; 
	color: #444;
	overflow: hidden;
}
#post blockquote p  { font-style:italic; }

#post ul  { 
    margin: 10px 0 20px 50px;
    padding: 0;
}
#post ul ul  { 
	margin: 0; 
}
#post ul li  {	
    list-style: disc outside none;
    padding: 10px;
}
#post ul ul li  { 
	list-style-type: disc; 
}
.entry-content ul {
}
.entry-content ul li {
	list-style: square outside none !important;
	margin: 5px 20px;
}
#post ol  { 
	margin: 0 0 0 0; 
	padding: 0 0 0 0; 
}
#post ol ol  { margin: 0; }
#post  ol li  {
	float: left;
	list-style-type: none;
	margin: 10px 0;
}
#post  ol li ol li  { list-style-type: lower-latin; }

ul#subpages_ul {
	padding: 0;
	margin: 0;
}
ul#subpages_ul li {
    background: none repeat scroll 0 0 #E9F3E0 !important;
    border: 1px solid #E5E5E5;
    list-style: none outside none !important;
    margin: 10px 0;
    padding: 0;
}
ul#subpages_ul li a {
	display: block;
	line-height: 32px;
	padding: 5px;
}
ul#subpages_ul li a:hover {
	background: none repeat scroll 0 0 #99cc33;
	color: #ffffff;
	font-weight: bold;
}
ul#xyz {
    margin: 0;
    padding: 0;}
ul#xyz h3 {
	border: none !important;
}
ul#xyz li {
	height: 120px;
	list-style-type: none;
	width: 100%;
}
.meta-nav {
	display: none;
}

.postdate  {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    float: left;
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: none;
}
p.postdata  {
	color: #AEADAD;
	font-size: 90%;
	padding: 0 7px 18px 2px;
}
p.postdata a {
	border-bottom: 1px solid #E0DFDF;
	color: #666666;
	margin: 0 3px 0 2px;
	padding: 0 0 1px;
	text-decoration: none;
	font-weight: normal;
	line-height: 20px;
}
p.postdata a:hover {
	border-bottom: 1px solid #CCCCCC;
	color: #000000;
	text-decoration: none;
}
p.postdata em {
	font: italic 100% Georgia,"Times New Roman",Times,serif;
}
h1.article_h1 {
	background: rgb(255, 255, 255); /* The Fallback */
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9); 
    color: #000000;
    font-family: "Segoe UI",Tahoma,Geneva,sans-serif;
    font-size: 40px;
    font-weight: normal;
    left: 0;
    margin: 15px;
    padding: 15px;
    position: absolute;
	bottom: -415px;
  	width: 630px;
    z-index: 998;
}
h1.page_h1 {
	background: none repeat scroll 0 0 #50B848;
	color: #ffffff;
	font-family: georgia,times,'times new roman',serif;
	font-size: 24px;
	margin-bottom: 20px;
	padding: 5px;
}
h1.page_h1 a {
	color: #ffffff;
}
span.edit-link {
	font-size: 12px;
}

/*== IMAGE LAYOUT==*/
.article img {
	max-width: 300px;
	height: auto;
	width: auto;
}
.entry-content img {
	max-width: 640px;
	height: auto;
}	
#slider-posts .feature .alignleft {
    float: left;
    height: auto;
    margin: 0;	
}
.article .alignleft, .alignleft {
    float: left;
    height: auto;
    margin: 0 20px 20px 0;
    max-width: 640px;
}
.entry-content .article .alignleft {
    float: left;
    height: auto;
    margin: 0;
    max-width: 660px;
}
.article .alignright, .alignright {
	float: right;
	margin: 10px 0 10px 15px;
	width: auto;
	height: auto;
}

/*== CAPTION LAYOUT==*/

.wp-caption{
	background: none repeat scroll 0 0 #FFFFDA;
	padding: 0;
	text-align: center;
}
.wp-caption-text
{
	font-size: 12px;
	margin: 0;
	padding: 5px;
	text-align: center;
}
.wp-caption img {
	background:transparent none repeat scroll 0 0;
	border:0 none;
}

#featured-content {
    border: 10px solid #FFFFFF;
    overflow: hidden;
    width: 950px;
}
#videos, #home {
	float: left;
	width: 610px;
	margin-left: 15px;
	margin-right: 20px;
	border: 5px solid #E6E6E6;
	background: none repeat scroll 0 0 #E6E6E6;
	height: 510px;
	overflow: hidden;
	position: relative;
	display: inline;
	z-index: 0;
}
p#slider-nav {
	margin: 0  0 10px 15px; 
	padding: 0;
	font-size: 0.7em;
}
p#slider-nav a { 
	padding: 5px 9px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px; 
	background: #dddddd; 
	color: #000000; 
	margin: 0 12px 0 0; 
}
p#slider-nav a.activeSlide,p#slider-nav a:hover { 
	background: #333;
	color: #ffffff;
}
.meta-nav {
	float: left;
	width: 100%;
}
#videolist h1, #videolist h2, #videolist h3 {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 24px !important;
	line-height: normal;
	margin: 10px 0;
}
.featured-sidebar {
	width: 280px;
	overflow: hidden;
	font-size: 0.9em;
}
.featured-sidebar h1, .featured-sidebar h2, .featured-sidebar h3 {
	font-family: Verdana,Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: normal;
	overflow: hidden;
}
.featured-sidebar a {
	color: #000000;
	font-weight: bold;
	margin: 5px 0;
}
.featured-sidebar a:hover {
	text-decoration: underline;
}
.feat-ar, .feat-ar a {
}
#most-popular {
	margin: 10px;
}
#donate {
}
#donations {
    background: none repeat scroll 0 0 #E74C3C;
    color: #FFFFFF;
    float: left;
    font-family: 'Roboto';
    margin: 0 10px;
    padding: 50px;
    position: relative;
    width: 400px;
}
#donations h2 {
    font-family: 'Roboto';
    font-size: 40px;
    margin: 0 0 20px;
}
#donateplusform input {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: medium none !important;
    color: #E74C3C !important;
    font-size: 100%;
    font-weight: normal;
/*    height: 40px !important;
*/    margin: 10px 0 !important;
    outline: medium none !important;
    padding-left: 15px !important;
/*    width: 100% !important;
*/}
.donate_amount {
}
#donations .submit input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    height: auto !important;
    padding: 0 !important;
    width: auto !important;
}
.donation_info {
    padding: 10px;
}
#videos {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    width: 915px !important;
}
#home {
	width: 610px;
	height: 520px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: none;
}
#home h1, #home h2, #home h3 {
	padding: 14px;
}
#home ul li {
	padding: 1em;
	font-size: 0.9em;
}
#home p {
	padding: 0 1em 1em 1em;
	font-size: 0.9em;
}
#search_box {
	height: 520px;
}
#feat-menu {
	font-family: 'Segoe UI',Helvetica,Arial,"Lucida Grande",Verdana,sans-serif;
    font-size: 20px;
    overflow: hidden;
    width: 100%;	
/*    background: url("images/nav-menu.png") no-repeat scroll 0 0 transparent;
*/ 
	margin: 10px auto;
    
}
#feat-menu a {
	color: #ffffff;
}
#feat-menu a:hover {
	border-bottom: 2px solid #ffffff;
}
#feat-menu ul {
	float: left;
	width: 940px;
	margin: 10px;
	display: inline;
}
#feat-menu ul li {
	display: inline;
	padding: 15px 25px;
	float: left;
	text-align: center;
}
#feat-menu .selected {
	border-bottom: 2px solid #ffffff;
}
li.featured {
	background: none repeat scroll 0 0 #950000;
}
li.video {
	background: none repeat scroll 0 0 #04958C;
}
li.most-popular {
    background: none repeat scroll 0 0 #FF6600;
}
li.donate {
	background: none repeat scroll 0 0 #003B65;
}
li.home-info {
	background: none repeat scroll 0 0 #50B848;
}
li.search-info {
	background: none repeat scroll 0 0 #B20039
}
#videolist {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    float: right;
    font-size: 14px !important;
    height: 490px;
    margin: 0 0 0 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 235px;
}
#videolist a {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
}
#videolist a:hover{
	text-decoration: underline;
}
#videolist li {
    padding: 5px 0;
}
.slide {
	text-align: center;
	width: 250px;
	left: 417px;
	margin: 0;
	position: relative;
	top: 10px;
	padding: 0;
}
.slide a {
	color: #ffffff;
	display: block;
	width: 250px;
}
.btn-slide {
	background: url("images/hide_videos.gif") no-repeat scroll 0 0 transparent;
}
.slide .active {
	background: url("images/show_videos.gif") no-repeat scroll 0 0 transparent;
}
#popular ul {
	padding: 0;
	height: 32px;
}
#popular ul li {
	color: #FFFFFF;
	cursor: pointer;
	display: inline;
	float: left;
	margin: 0;
	line-height: 30px;
}
#popular ul li a {
	color:#777777;
	font:11px/18px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
#popular .selected {
	background: none repeat scroll 0 0 #F8F8F8;
	text-decoration: none;
}
#comm {
	background: none repeat scroll 0 0 #F8F8F8;
}
#comm ul {
	background: none;
	border: none;
	height: 500px;
}
#comm ul li {
	background: none;
	width: 100%;
}
#comm ul li a {
	display: inline;
}
#recent-article {

}
#recent-article .th {
	float: left;
	margin: 0 5px 5px 0;
}
#recent-article h1 {
	line-height: 18px;
}
#recent-article p {
	font-size: 0.9em;
}
#recent-article li {
    display: inline;
    float: left;
    font-size: 16px;
    padding: 0 0 10px 20px;
    width: 320px;
}
#recent-article li a {
	color: #444444;
}
#recent-article li a:hover{
	text-decoration: underline;
}
li.nums {
}
#recent-article .article {
	height: 92px;
	overflow: hidden;
	margin: 5px;
}
#recent-article .article .summary {
	float: right;
	overflow: hidden;
	position: relative;
	width: 450px;
	height: 90px;
	padding: 0 10px;
}
#recent-article .article .summary h2 {
	font-size: 18px !important;
}
#recent-article .article .summary p {
	padding: 0;
}
#recent-article .article .summary h1, #recent-article .article .summary h2, #recent-article .article .summary h3 {
	margin: 5px 0;
}
.feature-image {
	background: url("images/default.jpg") no-repeat scroll 0 0 transparent;
}
.recent-image {
	float: left;
}
.ra-comm {
	background: none repeat scroll 0 0 #FFFFFF;
	border: none !important;
	padding: 0 !important;
	width: 410px !important;
}
.ra-comm h3 {
	border-bottom: 1px solid #FF0000;
	color: #FF0000;
	font-family: georgia,times,'times new roman',serif;
	font-size: 14px;
	line-height: normal;
	margin: 5px;
}
.ra-comm a {
	color: #000000 !important;
	font-weight: normal !important;
}
.ra-comm ul {
	padding: 10px;
	float: left;
}
.ra-comm ul li {
	float: left;
	margin: 0px 0;
}
.excerpt-comm {
	float: right;
	width: 200px;
}
.ra-fbook {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none !important;
    float: right;
    padding: 0 !important;
    width: 240px !important;
}
.popular-image {
	border: 1px solid #CCCCCC;
	float: left;
	margin: 5px;
}
.ra-comm .meta {
	float: left;
	width: 100%;
	font-weight: bold;
	font-style: italic;
}
.fix {
	margin: 8px;
	width:245px;
	height: 1px;
	display: inline;
	float: left;
}
/* Sidebar */

#archives_banner {
	background-image: url("images/archives.png");
	background-repeat: no-repeat;
	height: 77px;
	width: 260px;
}
#archives_banner a {
	display: block;
	height: 77px;
	width: 260px;
}

div#sidebar h1.widget-title {
	background: none repeat scroll 0 0 #50B848;
	color: #ffffff;
	line-height: 30px;
	padding: 0 5px;
	/*border-bottom: 5px solid #66BB00;*/
	margin: 20px 0 0 0;
}
div#sidebar h1.widget-title a {
	color: #ffffff;
}
div#sidebar ul {
	margin: 0 0 20px 0
}
div#sidebar ul li ul li {
	border-bottom: 2px solid #CCCC22;
}
div#sidebar ul li ul li a {
	color: #2F2419;
	display: block;
	font: 14px/24px Arial,serif;
	padding: 5px 0;
	text-decoration: none;
}
div#sidebar ul li ul li a:hover {
	color: #005F7F;
}
ul.side_subpages {
}
ul.side_subpages li {
	border-bottom: 2px solid #CCCC22;
}
ul.side_subpages li a {
	color: #2F2419;
	display: block;
	font: 14px/24px Arial,serif;
	padding: 5px 0;
	text-decoration: none;
}
h1.side_subpages-title {
	background: none repeat scroll 0 0 #50B848;
	color: #FFFFFF;
	line-height: 30px;
	margin: 0;
	padding: 0 5px;
}
/*== JOIN GREEN PARTY LINKS ==*/
#join-us {
	margin: 50px auto;
	width: 210px;
}
#join {
	 background: transparent url('images/join/join-top_02.png') no-repeat scroll 0 0;
	 width: 210px;
	 height: 57px;
}
#join-image {
	background-image: url('images/join/join_05.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
#join-link {
	height: 57px;
	position: absolute;
	width: 208px;
}
.joindd-link {
	height: 65px;
	position: absolute;
	width: 208px;
}
.joincard-link {
	height: 65px;
	position: absolute;
	width: 208px;
}
.joinform-link {
	height: 65px;
	position: absolute;
	width: 208px;
}
.joinform {
	height: 45px;
	margin: 0 0 0px;
	padding: 0;
	width: 143px;
}
.joindd, .joindd:visited {
	background-image: url('images/join/join_08.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
.joindd:hover {
	background-image: url('images/join/join_ro_08.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
.joincard, .joincard:visited {
	background-image: url('images/join/join_10.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
.joincard:hover {
	background-image: url('images/join/join_ro_10.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
.joinform, .joinform:visited {
	background-image: url('images/join/join_12.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
.joinform:hover {
	background-image: url('images/join/join_ro_12.jpg');
	background-repeat: no-repeat;
	height: 65px;
	width: 208px;
}
.donation_info {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 480px !important;
    padding: 30px !important;
    width: 360px !important;
}
.joinus {
	background:none repeat scroll 0 0 #FFFFFF;
}
/* misc */

.spacer {
	height: 30px;
	color: #ffffff;
}

img#wpstats {
	display: none;
}
.sticky {
}
.gallery-caption {
}
.bypostauthor {
}
#featured_image {
    float: left;
    margin: 0 !important;
    width: 100%;
}
.ln_image {
    float: left;
    margin: 0 10px 0 0;
    width: 60px;
}
.ln_post {
	clear: both;
    height: 65px;
    margin: 10px 0;
}


#font_tools input{
    background: none repeat scroll 0 0 #C0392B;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Roboto' !important;
    font-size: 14px;
    height: 24px;
    padding: 0;
    width: 70px !important;
}
#shop_link {
	background: none repeat scroll 0 0 #50b848;
    clear: both;
	color: #ffffff;
    display: block;
    margin: 0 0 20px 20px;
}
#shop_link a {
	color: #ffffff;
	display: block;
    padding: 20px;
	text-align: center;
}
