@import url(http://fonts.googleapis.com/css?family=Roboto:100);

/* SLIDING PANEL */

#toppanel {
	position: relative;
	top: 0;
	left: 0;
	width: 650px;
	z-index: 999;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 130%; /* font-size set to 130% for the default Kubrick Wordpress theme */
}
#panel {
	width: 100%;
	color: #333333;
	background: none repeat scroll 0 0 #FFFFFF;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}
#panel h1 {
	font-size: 1.8em;
	color: #333333;
	text-align: left;
}
#panel h2{
    color: #333333;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0 5px;
    text-align: left;
}
#panel p {
	margin: 5px 0;
	padding: 0;
	color: #333333;
	font-size: 1em;
}
#panel a {
    clear: both;
    color: #333333;
    font-family: tahoma;
    font-size: 14px;
    text-decoration: none;
}
#panel a:hover {
	color: #333333;
	text-decoration:underline;
	cursor: pointer;
}
#panel a-lost-pwd {
	display: block;
	float: left;
}
#panel ul {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 16px;
	list-style: none;
}
#panel .content {
	margin: 0 auto;
	text-align: left;
	font-size: 0.85em;
	float: left;
	width: 100%;
}
#panel .content .left {
	width: 280px;
	float: left;
	margin-bottom: 25px;
	padding: 0 15px;
}
#panel .content .border {
}
#panel .content .narrow {
	width: 130px !important;
}
#panel .content form {
	margin: 0 0 10px 0;
}
#panel .content label {
	font-size: 12px;
	padding: 10px 0;
	clear: both;
	display: block;
	color:#333333;
}
#panel .content input.field {
	background: none repeat scroll 0 0 #EEFFFF;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: #545454;
	font-size: 20px;
	height: 30px;
	border: 1px solid #cccccc;
}
#panel .content input:focus.field {
	background: none repeat scroll 0 0 #EEFFFF;
}

/*== BUTTONS ==*/

/* Login and Register buttons */

#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: normal;
	margin: 10px 0 0 0;
}
#panel .content input.bt_login {
	background: url("../images/btn.gif") no-repeat scroll 0 0 transparent;
	border: 1px solid #999999;
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	height: 50px;
	width: 120px;
	position: absolute;
	bottom: 20px;
}
#panel .content input.bt_register {

}
#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	margin: 5px 0;
	font-size: 11px;
	text-decoration: underline;
}
/* Panel Tab/button */
/*.tab {
    background: none repeat scroll 0 0 #000000;
    height: 35px;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 980px;
    z-index: 999;
}
.tab ul.login {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab ul.login li {
    float: left;
    margin: 0 10px;
    text-align: left;
}
.tab ul.login li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold !important;
}
.tab ul.login li a:hover {
	color: #ffffff;
}
#toggle {
}
.tab .sep {
	color: #ffffff;
}
.tab .follow {
    float: left;
    font-size: 10px;
    margin: 3px 0;
    vertical-align: middle;
}

.gst a.open {
	width: 112px;
}
.gst a.close {
	width: 95px;
	z-index: 999;
}*/


#backgroundPopup{
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 998;
}
#popupContact, #panel{
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	background: #ffffff;
	z-index: 2;
	font-size: 13px;
}
#popupContactClose{
	color: #FF1144 !important;
	border: 1px solid #FF1144;
	display: block;
	font-size: 20px !important;
	font-weight: 700;
	line-height: 6px;
	position: absolute;
	right: 14px;
	top: 6px;
	height: 12px;
	width: 12px;
	padding: 5px;
}
/*#utility{
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-family: roboto;
    height: 35px;
	margin: 0 0 10px;
    width: 100%;
    z-index: 999;
}*/
span.follow a img {
    height: 25px;
    margin: 2px 5px;
    border: none;
}
#new_utilities {
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
}	
#new_utilities a.nu_join {
	color: #ffffff;
    float: right;
    margin: 0 10px;
}
#new_utilities a.nu_donate {
	color: #ffffff;
    float: left;
    margin: 0 10px;
}
#new_utilities a img {
	height: 25px;
}
#new_utilities a  {
	font-weight: bold !important;
}
#login_options {
    float: right;
    font-size: 14px;
    margin: 8px 0;
    text-align: left;
}
.flat-form {
	  background: #e74c3c !important;
	  margin: 0 auto !important;
	  position: relative !important;
	  font-family: 'Roboto' !important;
}
.flat-form p, .flat-form h1, .flat-form label {
	  color: #ffffff !important;
  	  font-family: 'Roboto' !important;
}
.login_tabs {
    background: none repeat scroll 0 0 #C0392B !important;
    display: block !important;
    height: 40px !important;
    list-style-type: none !important;
    margin: 0 0 20px !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
}
.login_tabs {
  background: #c0392b !important;
  height: 36px !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  width: 100% !important;
  position: relative !important;
  display: block !important;
  margin-bottom: 20px !important;
}
.login_tabs li {
  display: block !important;
  float: left !important;
  margin: 0 !important;
  padding: 0 !important;
}
.login_tabs a {
  background: #c0392b !important;
  display: block !important;
  float: left !important;
  font-family: 'Roboto' !important;
  text-decoration: none !important;
  color: white !important;
  font-size: 16px !important;
  padding: 10px 22px 10px 22px !important;
  /*border-right: 1px solid @tab-border;*/

}
.login_tabs li:last-child a {
  border-right: none !important;
  width: 174px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center !important;
}
.login_tabs a.selected {
  background: #e74c3c !important;
  border-right: none !important;
  -webkit-transition: all 0.5s linear !important;
	-moz-transition: all 0.5s linear !important;
	transition: all 0.5s linear !important;
}
.form-action {
  padding: 0 20px !important;
  position: relative !important;
}

.form-action h1 {
  font-size: 42px !important;
  padding-bottom: 10px !important;
}
.form-action p {
  font-size: 12px !important;
  padding-bottom: 10px !important;
  line-height: 25px !important;
}
.flat-form form {
  padding-right: 20px !important;
}
.flat-form form input[type=text],
.flat-form form input[type=password],
.flat-form form input[type=submit] {
  font-family: 'Roboto' !important;
}

.flat-form form input[type=text],
.flat-form form input[type=password] {
  width: 100% !important;
  height: 40px !important;
  margin-bottom: 10px !important;
  padding-left: 15px !important;
  background: #fff !important;
  border: none !important;
  color: #e74c3c !important;
  outline: none !important;
}

.flat-form .dark-box {
  background: #5e0400 !important;
  box-shadow: 1px 3px 3px #3d0100 inset !important;
  height: 40px !important;
  width: 50px !important;
}
.flat-form .form-action .dark-box.bottom {
  position: absolute !important;
  right: 0 !important;
  bottom: -24px !important;
}
.flat-form .tabs + .dark-box.top {
  position: absolute !important;
  right: 0 !important;
  top: 0px !important;
}
.flat-form .show {
  display: block;
}
.flat-form .hide {
  display: none;
}

.flat-form .button {
    border: none;
    display: block;
    background: #136899;
    height: 40px;
    width: 140px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

.flat-form .button:hover {
  background: #1e75aa;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.flat-form .button:active {
  background: #136899;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

/* SQUARED ONE */
.squaredOne {
	width: 23px;
	height: 23px;
	background: #fcfff4;
	float: left;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 10px 0;
	position: relative;
}

.squaredOne label {
	cursor: pointer !important;
	position: absolute !important;
	width: 15px !important;
	height: 15px !important;
	left: 4px !important;
	padding: 0 !important;
	top: 4px !important;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 11px;
	height: 11px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.squaredOne input[type=checkbox] {
	visibility: hidden;
}
#label_remember {
    float: left;
    height: 22px;
    line-height: 8px;
    margin: 10px;
}