.videos h2 {
	background: none repeat scroll 0 0 #E9F3E0 !important;
	border:1px solid #E5E5E5;
	cursor: pointer;
	height: 32px;
	list-style-type: none;
	margin: 10px 0;
	display:block;
	line-height:32px;
	overflow: hidden;
	padding:5px;
}
.post_videos {
	float: left;
	width: 100%;
}
.post_videos ul {
}