.post-header {
  margin: 0 0 10px 0;
  width: 100%;
  position: relative;
  overflow: auto;
}

.post-header__date {
  background: #FFF;
  color: #000;
  font-size: 14px;
  text-align: right;
}

.post-header__image {
  display: none;
}

.post-header__heading {
  box-sizing: border-box;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.9); 
  color: #000;
  font-size: 20px;
  font-weight: normal; 
  margin-bottom: 10px;
}

@include media-query(xs) {
  .post-header__heading {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

@include media-query(sm) {
  .post-header {
    margin: 0;
  }

  .post-header__date {
    position: absolute;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;

   }
    
  .post-header__image {
    display: block;
  }

  .post-header__heading {
    font-size: 26px;
    left: 0;
    padding: 15px;
    position: absolute;
    bottom: 0;
    font-size: 40px;
    width: 80%;
    margin: 15px;
  }
}
