.campaign__heading {
	background: $dark-green;

	h1 {
		font-family: $heading-font;
		@include font-size($large-font-size);
		padding: 16px 16px;
		color: white;
		max-width: 430px;
		line-height: 1;
	}
}

.campaign__heading--no-image {
	background: $dark-green;

	h1 {
		font-family: $heading-font;
		@include font-size($large-font-size);
		padding: 16px 16px;
		color: white;
		line-height: 1;
	}
}

.campaign__sub-page-heading {
	h1 {
		color: $dark-green;
		font-family: $heading-font;
		@include font-size($large-font-size);
		padding: 16px 0;
	}
}

.campaign__ctas {
	margin: 24px 0;

	.page-template-page-campaign-brexit & {
		margin-top: 0;
	}

	h2 {
		color: $dark-green;
		font-family: $heading-font;
		@include font-size($large-font-size);
		margin-bottom: 0;
	}

	ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 280px;
	}

	li {

		a, strong {
			color: white;
			font-family: $heading-font;
			display: inline-block;
			text-decoration: none;
			background: $dark-green;
			color: white;
			position: relative;
			padding: 8px;
			@include font-size($base-font-size);
			font-weight: normal;
			line-height: 1;

			&:after {
				content: "";
				background: url('images/cta-arrow.svg') no-repeat right center;
				background-size: auto 100%;
				position: absolute;
				top: 0;
				right: -32px;
		    height: 101%;
		    width: 32px;
		    bottom: 0;
			}
		}

		a {
			&:hover, &:focus {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

.campaign__key-points {
	background: $dark-green;
	color: white;
	padding: 16px;
	margin: 24px 0;

	h2 {
		font-family: $heading-font;
		@include font-size($large-font-size);
		margin-bottom: 0;
	}

	ul, ol {
		list-style: none;
		margin: 24px 0;
		padding: 0;
	}

	ol li {
		counter-increment: step-counter;
		padding-left: 32px;
		position: relative;
		font-family: $heading-font;
		margin-bottom: 16px;
		line-height: 1.4;

		&:before {
	    content: counter(step-counter);
	    position: absolute;
	    text-align: center;
	    display: inline-block;
	    background: white;
	    color: $dark-green;
    	width: 24px;
    	margin-left: -32px;
		}
	}
}

.campaign__related {
	padding-top: 24px;

	h2 {
		background: $dark-green;
    padding: 8px;
    margin-bottom: 0;
    color: white;
    @include font-size($large-font-size);
	}

	.related-posts {
		a {
			padding: 8px;
	    display: block;
	    border-bottom: 1px solid $dark-green;
		}
	}
}

.campaign__sidebar-cta, .campaign__sidebar-cta-block {
	display: block;
	margin-top: 32px;

	span {
		display: block;
		background: $dark-green;
		color: white;
		padding: 16px;
		@include font-size($large-font-size);
		font-family: $heading-font;
	}
}

.campaign__sidebar-cta-block {
	background: $dark-green;
	flex-direction: column;
	position: relative;
	min-height: 100px;
	margin-top: 16px;

	span {
		line-height: 1;
		text-align: center;
		background: none;
	}

	&:hover, &:focus {
		background: $green;
	}
}

.campaign__sidebar-cta-main-link {
	height: 100%;
	display: block;
}

.campaign__sidebar-cta-small-link {
	color: white;
	position: absolute;
	bottom: 16px;
	left: 0;
	width: 100%;
	text-align: center;

	&:hover, &:focus {
		color: white;
		text-decoration: underline;
	}
}

.campaign--nb {
	.post__body {
		margin-top: 24px;
	}
}

.page-template-page-campaign-brexit {
	.post__body {
		padding-top: 24px;
	}
}

@include media-query(sm) {

	.campaign__heading {
		display: flex;
		align-items: center;
		height: 300px;
		background: $dark-green url('images/air-quality-bg.png') bottom right no-repeat;

		.campaign--nb & {
			background: $dark-green url('images/natalie-banner.jpg') 0 0 no-repeat;
			justify-content: flex-end;
			text-align: right;

			h1 {
				padding: 0 32px 0 0;
				max-width: 50%;
				@include font-size(76);
			}
		}

		h1 {
			@include font-size(86);
			padding: 0 0 0 32px;
		}
	}

	.campaign__heading--no-image {
		h1 {
			@include font-size(86);
		}
	}

	.campaign__ctas {
		ul, ol {
			max-width: 600px;
		}

		li {

			a, strong {
				padding: 16px;
				@include font-size($medium-font-size);

				&:after {
					right: -56px;
			    width: 56px;
				}
			}
		}
	}

	.campaign__key-points {
		ul, ol {
			margin: 32px;
		}

		ol li {
			@include font-size($medium-font-size);
			padding-left: 48px;

			&:before {
				@include font-size($medium-font-size);
	    	width: 40px;
	    	margin-left: -48px;
			}
		}
	}

	.col-30.campaign__sidebar {
		padding-left: 16px;
	}

	.campaign__sidebar-cta {
		width: 100%;
		height: 226px;
		background: url('images/air-quality-petition.jpg') center no-repeat;
		position: relative;

		span {
			position: absolute;
			bottom: 0;
			right: 0;
			@include font-size($medium-font-size);
		}
	}

	.campaign__sidebar-cta-block {
		width: 100%;
		height: 226px;
		background: $dark-green;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 32px;

		span {
			@include font-size(48);
		}
	}

	.campaign__sidebar-cta-main-link {
		padding-top: 40px;
	}
}
