.campaign__heading {
	background: $dark-green;

	h1 {
		font-family: $heading-font;
		@include font-size($large-font-size);
		padding: 16px 16px;
		color: white;
		max-width: 430px;
		line-height: 1;
	}

	.campaign--nb &, .campaign--nes & {
		height: 170px;
		background: url('images/election-banner-natalie.jpg') left center no-repeat;
		background-size: cover;
		position: relative;
		margin-bottom: 50px;

		.col-30 {
			position: absolute;
			width: 100%;
			height: 40px;
			bottom: -40px;
			background: $green;
			color: white;
			font-family: $heading-font;
			font-size: 18px;
			line-height: 1;
			text-align: center;
			padding: 0 10px;
			align-items: center;
    	display: flex;
    	justify-content: center;
    	max-width: none;

			&:hover, &:focus {
				background: $dark-green;
			}

		}
	}

	.campaign--nes & {
		background: none;
		.col-70 {
			height: 100%;
			background: url('images/nes-election-page-banner.jpg') left center no-repeat;
			background-size: cover;
		}

		.col-30 {
			&:hover, &:focus {
				background: $green;
			}
		}
	}
}

.campaign__heading--no-image {
	background: $dark-green;

	h1 {
		font-family: $heading-font;
		@include font-size($large-font-size);
		padding: 16px 16px;
		color: white;
		line-height: 1;
	}
}

.campaign__sub-page-heading {
	h1 {
		color: $dark-green;
		font-family: $heading-font;
		@include font-size($large-font-size);
		padding: 16px 0;
	}
}

.campaign__ctas {
	margin: 24px 0;

	.page-template-page-campaign-brexit & {
		margin-top: 0;
	}

	h2 {
		color: $dark-green;
		font-family: $heading-font;
		@include font-size($large-font-size);
		margin-bottom: 0;
	}

	ul, ol {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 280px;
	}

	li {

		a, strong {
			color: white;
			font-family: $heading-font;
			display: inline-block;
			text-decoration: none;
			background: $dark-green;
			color: white;
			position: relative;
			padding: 8px;
			@include font-size($base-font-size);
			font-weight: normal;
			line-height: 1;

			&:after {
				content: "";
				background: url('images/cta-arrow.svg') no-repeat right center;
				background-size: auto 100%;
				position: absolute;
				top: 0;
				right: -32px;
		    height: 101%;
		    width: 32px;
		    bottom: 0;
			}
		}

		a {
			&:hover, &:focus {
				color: white;
				text-decoration: underline;
			}
		}
	}
}

.campaign__key-points {
	background: $dark-green;
	color: white;
	padding: 16px;
	margin: 24px 0;

	h2 {
		font-family: $heading-font;
		@include font-size($large-font-size);
		margin-bottom: 0;
	}

	ul, ol {
		list-style: none;
		margin: 24px 0;
		padding: 0;
	}

	ol li {
		counter-increment: step-counter;
		padding-left: 32px;
		position: relative;
		font-family: $heading-font;
		margin-bottom: 16px;
		line-height: 1.4;

		&:before {
	    content: counter(step-counter);
	    position: absolute;
	    text-align: center;
	    display: inline-block;
	    background: white;
	    color: $dark-green;
    	width: 24px;
    	margin-left: -32px;
		}
	}
}

.campaign__related {
	padding-top: 24px;

	h2 {
		background: $dark-green;
    padding: 8px;
    margin-bottom: 0;
    color: white;
    @include font-size($large-font-size);
	}

	.related-posts {
		a {
			padding: 8px;
	    display: block;
	    border-bottom: 1px solid $dark-green;
		}
	}
}

.campaign__sidebar-cta, .campaign__sidebar-cta-block {
	display: block;
	margin-bottom: 32px;

	span {
		display: block;
		background: $dark-green;
		color: white;
		padding: 16px;
		@include font-size($large-font-size);
		font-family: $heading-font;
	}
}
.campaign__sidebar-cta-block {
	background: $dark-green;
	flex-direction: column;
	position: relative;
	min-height: 200px;
	margin-bottom: 16px;

	span {
		line-height: 1;
		text-align: center;
		background: none;
	}

	&:hover, &:focus {
		background: $green;
	}

}

.campaign__sidebar-cta-block--contact {
	padding: 10px;

	&:hover, &:focus {
		background: $dark-green;
	}

	a, h2 {
		color: white;
	}

	a {
		white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;

    &:hover, &:focus {
			svg {
				fill: $green;
			}
		}
	}

	li {
		margin-bottom: 10px;
	}

	svg {
		width: 16px;
		height: 16px;
		fill: white;
		vertical-align: text-top;
	}
}

.campaign__sidebar-cta-block--n4s {
	position: relative;
	background: url('images/natalie4sheffield-sidebar.jpg') right top no-repeat;
	max-height:	200px;
	overflow: hidden;

	&:hover, &:focus {
		background: url('images/natalie4sheffield-sidebar.jpg') right top no-repeat;

		.campaign__sidebar-cta-tagline {
			background: $dark-green;
		}
	}

	.campaign__sidebar-cta-tagline-small {
		background: white;
		color: $green;
		font-family: $heading-font;
		@include font-size(16);
		padding: 4px 6px;
		transform: rotate(-8deg);
		position: absolute;
		left: 20px;
		bottom: 64px;
		z-index: 1;
	}

	.campaign__sidebar-cta-tagline {
		font-family: $heading-font;
		color: white;
		background: $green;
		position: absolute;
		left: -12px;
		bottom: 24px;
		@include font-size(32);
		padding: 8px 8px 8px 20px;
		transform: rotate(-8deg);

		em {
			color: #CEE8AF;
			font-style: normal;
		}
	}
}

.campaign__sidebar-cta-block--guarantee {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $green url('images/gp-symbol-opacity.png') center no-repeat;

	.campaign__sidebar-cta-tagline {
		font-family: $heading-font;
		color: white;
	}

	&:hover, &:focus {
		background: $dark-green url('images/gp-symbol-opacity.png') center no-repeat;
	}
}

.campaign__sidebar-cta-main-link {
	height: 100%;
	display: block;
}

.campaign__sidebar-cta-small-link {
	color: white;
	position: absolute;
	bottom: 16px;
	left: 0;
	width: 100%;
	text-align: center;

	&:hover, &:focus {
		color: white;
		text-decoration: underline;
	}
}

.campaign--nb, .campaign--nes {
	.post__body {
		margin-top: 24px;
	}
}

.page-template-page-campaign-brexit {
	.post__body {
		padding-top: 24px;
	}
}

.campaign__related--election {
	padding-top: 0;

	h2 {
		margin: 0;
	}
}



@include media-query(xs) {

	.campaign__heading {
		.campaign--nes & {
			height: 240px;
		}
	}

	.campaign__sidebar {
		display: flex;
		flex-wrap: wrap;
	}

	.campaign__sidebar-cta-block, .campaign__related--election  {
		width: 49%;
		flex-shrink: 0;

		&:nth-child(odd) {
			margin-right: 1%;
		}

		&:nth-child(even) {
			margin-left: 1%;
		}
	}

}

@include media-query(sm) {

	.campaign__sidebar, {
		display: block;
	}

	.campaign__sidebar-cta-block,  .campaign__related--election {
		width: 100%;
		&:nth-child(even), &:nth-child(odd) {
			margin-right: 0;
			margin-left: 0;
		}
	}

	.campaign__heading {
		display: flex;
		align-items: center;
		height: 300px;
		background: $dark-green url('images/air-quality-bg.png') bottom right no-repeat;

		.campaign--nb &, .campaign--nes & {
			justify-content: flex-end;
			margin-bottom: 20px;
			height: 270px;

			.col-30 {
				position: relative;
				bottom: auto;
				height: 100%;
				width: 30%;
				align-items: center;
				display: flex;
				justify-content: center;
				padding: 20px;
				font-size: 30px;
			}
		}

		h1 {
			@include font-size(86);
			padding: 0 0 0 32px;
		}
	}

	.campaign__heading--no-image {
		h1 {
			@include font-size(86);
		}
	}

	.campaign__ctas {
		ul, ol {
			max-width: 600px;
		}

		li {

			a, strong {
				padding: 16px;
				@include font-size($medium-font-size);

				&:after {
					right: -56px;
			    width: 56px;
				}
			}
		}
	}

	.campaign__key-points {
		ul, ol {
			margin: 32px;
		}

		ol li {
			@include font-size($medium-font-size);
			padding-left: 48px;

			&:before {
				@include font-size($medium-font-size);
	    	width: 40px;
	    	margin-left: -48px;
			}
		}
	}

	.col-30.campaign__sidebar {
		padding-left: 16px;
		padding-top: 24px;
	}

	.campaign__sidebar-cta {
		width: 100%;
		height: 226px;
		background: url('images/air-quality-petition.jpg') center no-repeat;
		position: relative;

		span {
			position: absolute;
			bottom: 0;
			right: 0;
			@include font-size($medium-font-size);
		}
	}

	.campaign__sidebar-cta-block {
		width: 100%;
		height: 226px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 32px;

		span {
			@include font-size(48);
		}
	}

	.campaign__sidebar-cta-block--contact {
		display: block;
	}

	.campaign__sidebar-cta-main-link {
		padding-top: 40px;
	}
}

@include media-query (lg) {


	.campaign__heading {
		.campaign--nb &, .campaign--nes & {
			height: 300px;
			.col-30 {
				font-size: 40px;
			}
		}
	}

	.campaign__sidebar-cta-block--n4s {
		.campaign__sidebar-cta-tagline-small {
			@include font-size(24);
			bottom: 66px;
		}
	}
}
