.arclist_fl {
	border-bottom: 3px solid #C0C0C0;
	display: inline;
	float: left;
	margin: 20px;
	width: 260px;
}
.arclist_fr {
	border-bottom: 3px solid #C0C0C0;
	display: inline;
	float: left;
	margin: 20px;
	width: 260px;
}
#archivebox {
	border-bottom: 3px solid #C0C0C0;
	display: inline;
	float: right;
	line-height:30px;
	margin: 20px;
	width: 310px;
}
.arclist ul li {
	border-bottom: 1px solid #E6E4DB;
	color: #C0C0C0;
	font-size: 14px;
	font-weight: normal;
}
.arclist ul li a {
	color: #2F2419;
	display: block;
	font-weight: normal;
	line-height: 30px;
	padding: 0 0 0 5px;
}
.arclist ul li a:hover {
	color: #66b800;
	display: block;
	font-weight: normal;
	text-decoration: none;
}